.projetos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.projetos-item {
    flex: 1 1 calc(25% - 40px); /* 4 items per row with gap */
    box-sizing: border-box;
    transition: flex 0.5s ease;
}

.projetos-item.squished {
    flex: 0.5 1 calc(25% - 40px); /* Squish effect */
  }
.projetos-item:hover {
    flex: 2 1 calc(25% - 40px); /* Expand effect */
}  